.submit-1{
    background-color:red;
    font-size: 20px;
}
.button-1{
    float: right;
    padding-right:30px;
    margin-right: 20px;
    background-color: royalblue;
    color: violet;
}
.form-group{
    background-color: teal;
}
.img-2{
    margin-left:150px;
}
@media only screen and (min-width:1000px) {
    .heading-2{
        margin-right: 700px; 
    }
    .heading-3{
        position: relative;
        bottom:130px;
        margin-left:400px ;
        font-family: 'Staatliches', cursive;
    }
    .img-1{
        height:1000px;
    }
    .img-2{
        margin-left:400px;
    }
}